- content_for :caption, t('new_repository')

= simple_form_for @repository do |f|
  = f.input :github_id, collection: @repositories_for_select, error: false
  = f.button :submit, class: 'btn-primary'
